:root {
  --main-color: #000;
  --secondary-color: #fff;
  --secondary-hover-color: #f4f4f4;
  --tertiary-color: #808080;
  --success-color: #1d9a1d;
  --success-hover-color: #1c881c;
  --danger-color: #b42525;
  --danger-hover-color: #a70c0c;
  --neutral-color: #808080;
  --neutral-hover-color: #716e6e;
  --disabled-color: #cacaca;
  --font-main: opensans, arial, helvetica, sans-serif;
  --small-border-radius: 4px;
  --medium-border-radius: 8px;
  --large-border-radius: 12px;
  --main-box-shadow: 0 2px 10px #0000004d;
  --main-transition-params: background-color 0.2s ease-in-out;
}
